<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
    <%- include('./partial/nav.ejs') %>

    <div class="not-found content">
        <h2>404</h2>
        OOPS, page not found :(
    </div>
</body>
</html>