<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %> 
<body>
    <%- include('./partial/nav.ejs') %> 
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, inventore natus qui nulla eius assumenda maiores, officiis laborum consequuntur deserunt vel impedit quo vero itaque voluptate aut accusamus? Quo, amet.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, inventore natus qui nulla eius assumenda maiores, officiis laborum consequuntur deserunt vel impedit quo vero itaque voluptate aut accusamus? Quo, amet.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, inventore natus qui nulla eius assumenda maiores, officiis laborum consequuntur deserunt vel impedit quo vero itaque voluptate aut accusamus? Quo, amet.</p>
    </div>
</body>
</html>